<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seadowg.taflan">

    <application
        android:name="TaflanApplication"
        android:theme="@style/TaflanTheme"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false">

        <activity
            android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NewTableActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TableActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NewItemActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NewFieldActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.EditItemActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FieldsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ImportCSVActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="text/csv" />
                <data android:label="Import to Taflan" />
            </intent-filter>
        </activity>
    </application>
</manifest>
